/* font style */
.azeret-mono-primary {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* nav style */
  nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 120px;
  }
  nav h3{
    font-weight: 800;
    font-size: 28px;
  }
  .btn-download{
    font-size: 20px;
    font-weight: 500;
    padding: 15px 24px;
    border-radius: 8px;
    border: 1px solid;
  }

  /* banner style */
  .banner {
    background-image: url('../images/Hero-bg.png');
    height: 640px;
    padding-top: 25px ;
    padding-bottom: 40px;
  }
  .banner-container{
    text-align: center;
  }
  .banner-title{
    margin-top: 32px;
    margin-bottom: 21px;
    font-weight: 800;
    font-size: 48px;
  }
  .btn-contact {
    margin-top: 30px;
    padding: 21px 24px;
    border-radius: 8px;
    background-color: black;
    color: white;
  }