/* font style */
.azeret-mono-primary {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* share style*/
.title {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
}
body {
    margin: 0;
}
.container {
    margin-left: 150px;
    margin-right: 150px;
}
.card {
  border-radius: 16px;
  padding: 40px;
}
.card-taitle{
  margin-top: 24px;
  margin-bottom: 24px;
}
.card-taitle h3{
  font-size: 24px;
}
.card a{
  color: black;
}
.card p{
  font-size: 16px;
}

  /* nav style */
  nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 120px;
  }
  nav h3{
    font-weight: 800;
    font-size: 28px;
  }
  .btn-download{
    font-size: 20px;
    font-weight: 500;
    padding: 15px 24px;
    border-radius: 8px;
    border: 1px solid;
  }

  /* banner style */
  .banner {
    background-image: url('../images/Hero-bg.png');
    height: 640px;
    padding-top: 25px ;
    padding-bottom: 40px;
  }
  .banner-container{
    text-align: center;
  }
  .banner-title{
    margin-top: 32px;
    margin-bottom: 21px;
    font-weight: 800;
    font-size: 48px;
  }
  .btn-contact {
    margin-top: 30px;
    padding: 21px 24px;
    border-radius: 8px;
    background-color: black;
    color: white;
  }

  /* developer style */
  .development {
    margin: 70px 150px;
    padding: 60px 70px;
    background-color: #ADC8F7;
    border-radius: 16px;
  }
  .development-container {
    text-align: center;
    margin-bottom: 45px;
  }
  .development-title{
    margin-top: 0px;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
  }

  /* coding style */
  .coding {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 16px;
    padding: 48px;
  }
  .coding-container {
    width: 477px;
  }
  .coding-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
  }
  .coding-subtitle {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .btn-learn {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .system {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  /* inspiration style */
  .inspiration {
    text-align: center;
  }
  .inspiration-container {
    border: 1px solid;
    border-radius: 16px;
    padding: 32px;
  }
  .content {
    border-radius: 16px;
  }

  /*current target style*/
  .target-container {
    margin-top: 100px;
  }
  .target {
    text-align: center;
    margin-bottom: 45px;
  }
  .current-target {
    display: flex;
    gap: 24px;
  }
  .html-container{
    background-color: #f7d2c9;
  }
  .css-container{
    background-color: #b5ccf8;
  }
  .js-container{
    background-color: #f2ebbe;
  }

  /* support style */
  .support-container {
    margin-top: 49px;
    background-image: url('../images/handshake.jpg');
    padding: 64px 48px;
    max-height: 313px;
    max-width: 1140px;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 80px;
  }
  .support {
    color: white;
  }
  .support-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }

  .feedback input{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 350px;
    border-radius: 8px;
    border: none;
  }
  .btn-submit {
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
  }

  /* footer style */
  .footer-container {
    background-color: #86cfee;
    padding: 32px 150px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .commitment {
    font-size: 20px;
    font-weight: 600;
  }
  .social-container {
    display: flex;
    gap: 24px;
  }
  